{% extends 'todo/todo-base.html' %}
{% load static %}

{% block content %}
    <main class="" style="margin-top: 60px">
        <div class="container-fluid pt-4">
            <h1 class="text-center display-4 ">Task Analyzer</h1>
            <p class="text-center display-6">Manager and Analyze your tasks</p>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-4 col-8 m-2 p-2 text-center">
                    Analyze your tasks and check your progress in your<a class="" href="/dashboard"> <strong> Dashboard</strong></a>
                </div>

                <div class="col-md-3 col-sm-4 col-8 m-2 p-2 text-center">
                    Manage your tasks to keep yourself organised through <a class="" href="/task-manager"> <strong> Task Manager</strong></a>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-4 col-8 card m-2 p-2 text-center">
                    <img class="img-thumbnail" src="{% static 'todo/assets/dashboard-icon-2.webp' %}" alt="">
                    Analyze your tasks and check your progress in your<a class="btn btn-primary btn-sm" href="/dashboard"> <strong> Dashboard</strong></a>
                </div>

                <div class="col-md-3 col-sm-4 col-8 card m-2 p-2 text-center">
                    <img class="img-thumbnail" src="{% static 'todo/assets/task-icon.png' %}" alt="">
                    Manage your tasks to keep yourself organised through <a class="btn btn-primary btn-sm" href="/task-manager"> <strong> Task Manager</strong></a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
