{% extends 'todo/todo-base.html' %}
{% load static %}

{% block content %}
<main style="margin-top: 58px">
    <div class="container-fluid pt-4">
        <div>
            <p class="display-6 mb-4">Task Manager</p>
        </div>
        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>List of Tasks for Today</strong>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="h5" scope="col">Task Name</th>
                                    <th class="h5" scope="col">Date Added</th>
                                    <th class="h5" scope="col">Priority</th>
                                    <th class="h5" scope="col">Status</th>
                                    <th class="h5" scope="col">Mark As</th>
                                    <th class="h5" scope="col">Update/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <th scope="row">{{task.name}}</th>
                                    <td>{{task.time_added}}</td>
                                    <td>{{task.weight}}</td>
                                    <td>{{task.status}}</td>
                                    <td>
                                        <a href="" class="btn btn-success btn-sm">Done</a>
                                        <a href="" class="btn btn-secondary btn-sm">UnDone</a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                        <a href="" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-2x"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-4">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h5 class="mb-0 text-center">
                        <strong>List of Tasks remaining form Previous Days</strong>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="h5" scope="col">Task Name</th>
                                    <th class="h5" scope="col">Date Added</th>
                                    <th class="h5" scope="col">Priority</th>
                                    <th class="h5" scope="col">Status</th>
                                    <th class="h5" scope="col">Mark As</th>
                                    <th class="h5" scope="col">Update/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <th scope="row">{{task.name}}</th>
                                    <td>{{task.time_added}}</td>
                                    <td>{{task.weight}}</td>
                                    <td>{{task.status}}</td>
                                    <td>
                                        <a href="" class="btn btn-success btn-sm">Done</a>
                                        <a href="" class="btn btn-secondary btn-sm">UnDone</a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                        <a href="" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-2x"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}