<!-- Signup Form Fields-->
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.username|as_crispy_field }}
        {{ form.username.errors }}
    </div>
</div>
<div class="form-group form-row">
    <div class=" col-md-8">
        {{ form.first_name.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.first_name|as_crispy_field }}
    </div>
</div>
<div class="form-group form-row">
    <div class=" col-md-8">
        {{ form.last_name.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.last_name|as_crispy_field}}
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.email|as_crispy_field }}
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.password1.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.password1|as_crispy_field }}
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.password2.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.password2|as_crispy_field }}
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.image.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.image|as_crispy_field }}
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        {{ form.bio.errors }}
    </div>
    <div class=" col-md-8">
        {{ form.bio|as_crispy_field }}
    </div>
</div>

<div class="pt-4">
    <button type="submit" class="btn btn-primary active">Sign Up</button>
</div>


<!-- Signup Form Fields -->
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" id="id_username" type="text" name="username" maxlength="100"
                required>
            <label class="form-label" for="id_username">Username:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" type="text" name="first_name" id="id_first_name" required>
            <label class="form-label" for="id_first_name">FirstName:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" type="text" name="last_name" id="id_last_name" required>
            <label class="form-label" for="id_last_name">LastName:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" type="email" name="email" id="id_email" required>
            <label class="form-label" for="id_email">Email:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <textarea class="form-control" name="email"  rows=6 id="id_email"></textarea>
            <label class="form-label" for="id_email">Bio</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" type="password" name="password1" id="id_password1">
            <label class="form-label" for="id_password1">Password:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" type="password" name="password2" id="id_password2">
            <label class="form-label" for="id_password2">Re-Enter Password:</label>
        </div>
    </div>
</div>
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0 p-2">
        <label class="form-label" for="id_image">Image:</label>
        <input class="form-control" type="file" name="image" id="id_image">
    </div>
</div>


<!-- Login Form -->
<div class="form-group form-row">
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" id="id_username" type="text" name="text" maxlength="100" {{field.required}}>
            <label class="form-label" for="id_username">Username</label>
        </div>
    </div>
    <div class="form-group col-md-8 mb-0">
        <div class="form-outline mb-4 p-2">
            <input class="form-control" id="id_passsword" type="password" name="password" maxlength="100" {{field.required}}>
            <label class="form-label" for="id_passsword">Password</label>
        </div>
    </div>
    {% for field in form %}
        <div class="form-group col-md-4 mb-0 text-primary">
            {{field.help_text}}
        </div>
        <div class="form-group col-md-4 mb-0 red-text">
            {{field.errors}}
        </div>
    {% endfor %}