{% extends 'authuser/authuser-base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- <style>
    body {
        background: #555555 ;
    }
</style> -->
{% endblock %}

{% block content %}
<main class="mt-5 pt-5">
    <div class="container">
        <section class="card wow fadeIn">
            <div class="card-body py-5 px-5 my-5">
                <h1 class="my-4">
                    <strong>Sign In</strong>
                </h1>

                <form role="form" action="{% url 'user-login' %}" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for field in form %}
                        <div class="form-group form-row">
                            <div class="form-group col-md-8 mb-0">
                                <div class="form-outline mb-4 p-2">
                                    {{field}}
                                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0 text-primary">
                                {{field.help_text}}
                            </div>
                            <div class="form-group col-md-4 mb-0 red-text">
                                {{field.errors}}
                            </div>
                        </div>

                    {% endfor %}
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            <button type="submit" class="btn btn-lg btn-primary active">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

{% endblock %}