<nav class="navbar fixed-top navbar-expand-lg navbar-dark #424242 grey darken-3 scrolling-navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="white-text">TA</strong>
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" aria-current="page" href="/">
                        Home 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect"
                        href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/"
                        target="_blank">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/"
                        target="_blank">Developers site</a>
                </li>
            </ul>
            <!-- Left links -->
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'user-login' %}" class="nav-link waves-effect">
                       Login <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user-signup' %}" class="nav-link waves-effect">
                       SignUp <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'user-logout' %}" class="nav-link waves-effect">
                       Logout <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item ml-1">
                    <a href="https://www.facebook.com/all-about-CS-121508116426424/" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item ml-1">
                    <a href="https://twitter.com/Sandipa63062640" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                
                <!-- <li class="nav-item">
                    <a href="https://github.com/mdbootstrap/bootstrap-material-design"
                        class="nav-link border border-light rounded waves-effect" target="_blank">
                        <i class="fab fa-github mr-2"></i>MDB GitHub
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>